<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Lemonade Insurance</title>
  </head>
  <body>
    <h1 style="text-align: center;"><span style="color: #ffffff;">Hey! I'm Maya. I'll get you insured in no time!</span></h1>
    <div class="container">
      <img src="../static/lemonade.jpg" alt="Lemonade" class="logo"/>
      {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}
      <form action="/submit" method="POST">
        <div class="form-group">
          <h3 style="color: #ffffff;">Please select your state</h3>
          <select name="state">
            <option value="">Select State</option>
            <option value="AR">AR</option>
            <option value="AZ">AZ</option>
            <option value="CA">CA</option>
            <option value="CT">CT</option>
            <option value="DC">DC</option>
            <option value="GA">GA</option>
            <option value="IA">IA</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="MD">MD</option>
            <option value="MI">MI</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>
            <option value="NV">NV</option>
            <option value="NY">NY</option>
            <option value="OH">OH</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="TX">TX</option>
            <option value="WI">WI</option>
          </select>
        </div>
        <div class="form-group">
          <h3 style="color: #ffffff;">Can you provide your postal code?</h3>
          <input
            type="text"
            name="postcode"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <h3 style="color: #ffffff;">Please select your form code :)</h3>
          <select name="form">
            <option value="">Select</option>
            <option value="ho3">Homeowners Insurance</option>
            <option value="ho4">Renters Insurance</option>
            <option value="ho6">Condo Insurance</option>
          </select>
        </div>
        <div class="form-group">
          <h3 style="color: #ffffff;">Aaaand... What's your age?</h3>
          <input
            type="text"
            name="age"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <h3 style="color: #ffffff;">Do you have fire alarm?</h3>
          <select name="fire">
            <option value="">Select</option>
            <option value=True>Yes</option>
            <option value=False>No</option>
          </select>
        </div>
        <div class="form-group">
          <h3 style="color: #ffffff;">Do you have burglar alarm?</h3>
          <select name="burglar">
            <option value="">Select</option>
            <option value=True>Yes</option>
            <option value=False>No</option>
          </select>
        </div>
        <div class="form-group">
          <h3 style="color: #ffffff;">Do you have portable electronics in your house?</h3>
          <select name="portable">
            <option value="">Select</option>
            <option value=True>Yes</option>
            <option value=False>No</option>
          </select>
        </div>
        <div class="form-group">
          <h3 style="color: #ffffff;">What's the fire proximity of your house?</h3>
          <input type="radio" name="fire_prox" value="1" /> 1
          <input type="radio" name="fire_prox" value="2" /> 2
          <input type="radio" name="fire_prox" value="3" /> 3
          <input type="radio" name="fire_prox" value="4" /> 4
          <input type="radio" name="fire_prox" value="5" /> 5
          <input type="radio" name="fire_prox" value="6" /> 6
          <input type="radio" name="fire_prox" value="7" /> 7
          <input type="radio" name="fire_prox" value="8" checked /> 8
        </div>
        <div class="form-group">
          <h3 style="color: #ffffff;">How many policies you own from Lemonade?</h3>
          <input type="radio" name="policies" value="1" /> 1
          <input type="radio" name="policies" value="2" /> 2
          <input type="radio" name="policies" value="3" /> 3
          <input type="radio" name="policies" value="4" /> 4
          <input type="radio" name="policies" value="5" /> 5
          <input type="radio" name="policies" value="6" /> 6
          <input type="radio" name="policies" value="7" checked /> 7
        </div>
        <div class="form-group">
          <h3 style="color: #ffffff;">And how far are you from the coast (miles)?</h3>
          <input type="radio" name="coast" value="0.0" /> 0
          <input type="radio" name="coast" value="1.0" /> 1
          <input type="radio" name="coast" value="2.0" /> 2
          <input type="radio" name="coast" value="3.0" /> 3
          <input type="radio" name="coast" value="4.0" /> 4
          <input type="radio" name="coast" value="5.0" /> 5
          <input type="radio" name="coast" value="10.0" /> 10
          <input type="radio" name="coast" value="15.0" /> 15
          <input type="radio" name="coast" value="20.0" /> 20
          <input type="radio" name="coast" value="25.0" /> 25
          <input type="radio" name="coast" value="30.0" checked /> 30
        </div>
        <div class="form-group">
          <h3 style="color: #ffffff;">Finally, please select your payment method</h3>
          <select name="payment">
            <option value="">Select Payment method</option>
            <option value="debit">Debit</option>
            <option value="credit">Credit</option>
            <option value="prepaid">Pre-paid</option>
          </select>
        </div>
        <input type="submit" value="Submit" class="btn" style="color: #000000;"/>
      </form>
    </div>
  </body>
</html>